# yamllint disable rule:document-start
# https://docs.github.com/actions

name: Tests

on:
  push:
    branches-ignore:
      - main
    paths:
      - "**.py"
      - "pyproject.toml"
      - ".github/workflows/test.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**.py"
      - "pyproject.toml"
      - ".github/workflows/test.yml"

permissions:
  contents: read

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run pytest -v
